
 

* {
  margin: 0px;
  padding: 0px;
}
body {

background-image: url("../img/p1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-size: 120%;
 }


form, .content {
  width: 75%;
  height: 90px;
  margin-top: 850px;
  margin-bottom: 16px;
  margin: 0px auto;
  
  opacity: 0.8;
  padding: 20px;
 
 
  border-radius: 10px 10px 0px 10px;
}

.card-body{
height: 450px;

width: 500px;
margin-top: 55px;
margin-bottom:140px;
margin-right: 150px;
margin-left: 550px;

background-color: rgba(0,0,0,0.5);
}

.header h2{
  align-content: center;
color: white;
margin-left:200px;


}
.input-group {
  margin: 30px 15px 9px 10px;
}

.input-group input,label {
  height: 40px;
  width: 96%;
  font-size: 20px;
  border-radius: 5px;
  padding:8px;

}
.input-group label{
  color:white;
}

.btn {
  margin-top: -5px;
  margin-left: 125px;
  padding: 10px;
  font-size: 25px;
  background: yellow;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
